/**
 * 
 * SCSS Portfolio
 *  
 * @author Edouard Diep
 */
/* ##### VARIABLES PRINCIPALES #####*/
@font-face {
  font-family: montserrat;
  src: url(./fonts/Montserrat-Medium.ttf); }

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: montserrat; }

body {
  overflow-x: hidden; }

/*##### NAV BAR #####*/
.navbar {
  background-color: #f8f8f8;
  position: fixed;
  width: 100%;
  height: 9vw;
  z-index: 9999; }
  .navbar ul {
    padding: 3.5vw;
    float: right;
    position: relative;
    list-style-type: none;
    letter-spacing: 4em;
    opacity: 0;
    left: 10%; }
    .navbar ul li {
      display: inline-block;
      margin-left: 1.5vw; }
      .navbar ul li a {
        color: #2f2f2f;
        display: block;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2vw;
        font-style: italic;
        font-weight: bold;
        letter-spacing: 1px;
        position: relative;
        text-decoration: none;
        padding: 10px;
        text-transform: uppercase;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
  .navbar .logo {
    opacity: 0;
    position: absolute;
    max-height: 2.5vw;
    max-width: 2.5vw;
    left: 5vw;
    top: 0.5vw; }
  .navbar .navbar-a:hover {
    border: 2px solid #83a1d8;
    border-radius: 10px;
    background-color: #ececec;
    font-size: 1.15vw;
    color: black;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .navbar .navbar-a:hover::after {
    width: 100%; }
  .navbar .navbar-a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #80BCBB;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s; }

@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    height: 15vw;
    min-height: 12vw; }
    .navbar ul {
      position: relative;
      padding: 0;
      padding-top: 2.5vw;
      padding-bottom: 2.5vw;
      letter-spacing: 3vw;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center; }
      .navbar ul li {
        margin: 0;
        display: inline-block; }
        .navbar ul li a {
          font-size: 2.5vw;
          position: relative; }
    .navbar .logo {
      height: 0;
      width: 0;
      opacity: 0; }
    .navbar .navbar-a:hover {
      font-size: 0.55em;
      color: black;
      background-color: #f8f8f8;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    .navbar .navbar-a:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      -webkit-transition: width .3s;
      -o-transition: width .3s;
      transition: width .3s; } }

/*##### SECTION A PROPOS #####*/
.about {
  height: 100vw;
  width: 100%;
  z-index: 90;
  padding: 50px 0;
  display: table;
  background: -webkit-linear-gradient(#80BCBB 10%, #f8f8f8 75%);
  background-image: -moz-linear-gradient(#80BCBB 10%, #f8f8f8 75%);
  background-image: -o-linear-gradient(#80BCBB 10%, #f8f8f8 75%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #80BCBB), color-stop(75%, #f8f8f8));
  background-image: -webkit-linear-gradient(#80BCBB 10%, #f8f8f8 75%);
  background-image: linear-gradient(#80BCBB 10%, #f8f8f8 75%);
  background-image: -ms-linear-gradient(#80BCBB 10%, #f8f8f8 75%); }
  .about .content {
    width: 100%;
    height: 100%;
    padding: 50px 0; }
    .about .content .welcome-wrapper {
      position: relative;
      top: 35%;
      left: 25%;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      border: solid 2px #220202;
      padding: 2vw;
      -webkit-transition: all 400ms ease;
      -o-transition: all 400ms ease;
      transition: all 400ms ease;
      opacity: 0;
      z-index: 90;
      background-color: #3F69AA;
      border-radius: 10px;
      cursor: pointer;
      color: #f8f8f8; }
      .about .content .welcome-wrapper:hover {
        border: solid 4px #f8f8f8;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      .about .content .welcome-wrapper h1 {
        font-size: 3vw;
        position: relative;
        padding: 5px 0; }
      .about .content .welcome-wrapper p {
        font-size: 2vw;
        position: relative;
        width: 100%;
        padding: 5px 0; }
    .about .content .description-wrapper {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 30vw; }
      .about .content .description-wrapper .aboutText {
        position: relative;
        opacity: 0;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        display: inline-block;
        left: 5vw;
        top: 10vw; }
        .about .content .description-wrapper .aboutText p {
          font-style: italic;
          color: #002440;
          font-size: 0.8vw;
          letter-spacing: 3px; }
        .about .content .description-wrapper .aboutText h1 {
          position: relative;
          font-size: 1.5vw;
          font-style: normal; }
      .about .content .description-wrapper .objectif-wrapper {
        display: inline-block;
        position: relative;
        top: 35%;
        left: -100%;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content; }
        .about .content .description-wrapper .objectif-wrapper .profil {
          float: left;
          margin-right: 3vw;
          position: relative;
          height: 11vw;
          width: 6vw;
          opacity: 0.5;
          -webkit-filter: grayscale(1);
          filter: grayscale(1); }
        .about .content .description-wrapper .objectif-wrapper p {
          float: left;
          color: #002440;
          font-size: 1.6vw;
          font-style: italic;
          font-weight: bold;
          opacity: 0.8; }
          .about .content .description-wrapper .objectif-wrapper p:hover {
            font-size: 1.7vw;
            opacity: 1;
            -webkit-transition: all 400ms ease;
            -o-transition: all 400ms ease;
            transition: all 400ms ease; }

@media screen and (max-width: 768px) {
  .about {
    height: 100%;
    width: 100%;
    z-index: 90;
    padding: 50px 0;
    display: block; }
    .about .content {
      width: 100%;
      height: 100%;
      padding: 0; }
      .about .content .welcome-wrapper {
        position: relative;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        top: 35%;
        left: 3vw;
        padding: 3vw 1.2vw;
        -webkit-transition: all 400ms ease;
        -o-transition: all 400ms ease;
        transition: all 400ms ease;
        opacity: 0;
        z-index: 90; }
        .about .content .welcome-wrapper h1 {
          font-size: 1.4rem;
          position: relative; }
        .about .content .welcome-wrapper p {
          font-size: 0.8rem;
          position: relative;
          width: 100%;
          padding: 0; }
      .about .content .description-wrapper {
        position: relative;
        display: block;
        width: 100%;
        height: 30vw; }
        .about .content .description-wrapper .aboutText {
          position: relative;
          opacity: 0;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          height: -webkit-fit-content;
          height: -moz-fit-content;
          height: fit-content;
          display: inline-block;
          left: 40%;
          top: 0; }
          .about .content .description-wrapper .aboutText p {
            font-style: italic;
            color: #002440;
            font-size: 2.8vw;
            letter-spacing: 1px; }
          .about .content .description-wrapper .aboutText h1 {
            position: relative;
            font-size: 3.5vw;
            font-style: normal; }
        .about .content .description-wrapper .objectif-wrapper {
          display: block;
          position: relative;
          top: -250%;
          left: 0;
          width: 100%;
          opacity: 0; }
          .about .content .description-wrapper .objectif-wrapper .profil {
            left: 10%;
            position: relative;
            height: 30vw;
            width: 17vw;
            opacity: 0.5;
            margin-bottom: 30vw;
            -webkit-filter: grayscale(1);
            filter: grayscale(1); }
          .about .content .description-wrapper .objectif-wrapper p {
            color: #002440;
            font-size: 3vw;
            font-style: italic;
            font-weight: bold;
            opacity: 0.8;
            padding: 4vw; }
            .about .content .description-wrapper .objectif-wrapper p:hover {
              font-size: 2.9vw;
              opacity: 1;
              -webkit-transition: all 400ms ease;
              -o-transition: all 400ms ease;
              transition: all 400ms ease; } }

/*##### SECTION EXPERIENCE #####*/
.experience {
  background: #002440;
  padding: 50px 0;
  width: 100%;
  overflow-x: hidden; }
  .experience .content {
    text-align: center; }
    .experience .content h1 {
      font-size: 1.6em;
      color: #fff;
      letter-spacing: 1px; }
    .experience .content ul {
      padding: 50px 0;
      list-style-type: none; }
      .experience .content ul li {
        background: #f5f5f5;
        position: relative;
        margin-left: 20px;
        width: 5px;
        padding-bottom: 40px; }
        .experience .content ul li:last-child {
          padding-bottom: 8px; }
        .experience .content ul li:before {
          content: '';
          background: #002440;
          position: absolute;
          left: 50%;
          top: 0;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 20px;
          height: 20px;
          border: 4px solid #f5f5f5; }
        .experience .content ul li .hidden {
          opacity: 0;
          margin-left: 0; }
        .experience .content ul li .experience-content {
          background: #f5f5f5;
          position: relative;
          top: 11px;
          left: 48px;
          width: calc(100vw - 100px);
          padding: 20px;
          text-align: center;
          -webkit-border-radius: 0 5px 5px;
          -moz-border-radius: 0 5px 5px;
          border-radius: 0 5px 5px; }
          .experience .content ul li .experience-content h2 {
            font-size: 1.3em;
            color: #002440;
            padding-bottom: 10px; }
          .experience .content ul li .experience-content .experience-time {
            color: #777;
            font-size: 0.8em;
            padding-bottom: 10px; }
          .experience .content ul li .experience-content p {
            color: #1a1a1a;
            font-size: .95em; }
          .experience .content ul li .experience-content:before {
            content: '';
            background: #f5f5f5;
            position: absolute;
            top: 0;
            left: -35px;
            width: 35px;
            height: 5px; }

@media screen and (min-width: 768px) {
  .experience .content ul li {
    margin: 0 auto; }
    .experience .content ul li .experience-content {
      width: 35vw; }
    .experience .content ul li:nth-child(odd) .experience-content {
      left: 63px; }
    .experience .content ul li:nth-child(odd) .experience-content:before {
      left: -50px;
      width: 50px; }
    .experience .content ul li:nth-child(even) .experience-content {
      left: calc(-35vw - 59px);
      -webkit-border-radius: 5px 0px 5px 5px;
      -moz-border-radius: 5px 0px 5px 5px;
      border-radius: 5px 0px 5px 5px; }
    .experience .content ul li:nth-child(even) .experience-content:before {
      left: auto;
      right: -50px;
      width: 50px; }
    .experience .content ul li:nth-child(odd) .hidden {
      margin-left: 10vw; }
    .experience .content ul li:nth-child(even) .hidden {
      margin-left: -10vw; } }

/*##### SECTION SKILLS IT #####*/
.skills {
  z-index: 95;
  display: table;
  width: 100%;
  height: 100%;
  margin-bottom: 5em; }
  .skills .content {
    padding: 100px 30px;
    width: 100%;
    height: 100%; }
    .skills .content .development-title {
      font-size: 2vw;
      text-align: center;
      color: #002440;
      margin-bottom: 50px;
      letter-spacing: 1px; }
    .skills .content .development-wrapper {
      width: 50%;
      float: left;
      border-right: 8px groove #83a1d8; }
      .skills .content .development-wrapper .skills-bar-container {
        position: relative;
        width: 90%;
        list-style-type: none; }
        .skills .content .development-wrapper .skills-bar-container li {
          width: 100%;
          margin-bottom: 20px; }
          .skills .content .development-wrapper .skills-bar-container li .progressbar-title {
            color: #002440;
            margin-bottom: 5px; }
            .skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
              display: inline-block;
              font-weight: bold;
              font-size: 1.3vw; }
            .skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
              position: absolute;
              right: 20px;
              font-size: 1.1vw;
              font-style: italic;
              font-weight: bold; }
          .skills .content .development-wrapper .skills-bar-container li .bar-container {
            background: #ececec;
            position: relative;
            width: 100%;
            height: 10px;
            border-radius: 100px; }
            .skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
              background: darkred;
              border-radius: 100px;
              position: absolute;
              width: 0%;
              height: 100%; }
    .skills .content .portfolio-wrapper {
      height: 100%;
      width: 50%;
      float: left;
      padding-left: 10px; }
      .skills .content .portfolio-wrapper .grid-portfolio {
        display: grid;
        padding: 15px 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px; }
      .skills .content .portfolio-wrapper .grid-portfolio > div {
        text-align: center;
        padding: 15px 0;
        font-size: 30px; }
        .skills .content .portfolio-wrapper .grid-portfolio > div .img-portfolio {
          display: inline-block;
          margin: 0 auto;
          border: 2px solid #80BCBB;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          opacity: 0.2; }

@media screen and (max-width: 768px) {
  .skills {
    z-index: 95;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 5em; }
    .skills .content {
      padding: 10px 30px;
      width: 100%;
      height: 100%; }
      .skills .content .development-title {
        font-size: 6vw;
        text-align: center;
        color: #002440;
        margin-top: 50px;
        margin-bottom: 50px;
        letter-spacing: 1px; }
      .skills .content .development-wrapper {
        width: 110%;
        float: left;
        border: none; }
        .skills .content .development-wrapper .skills-bar-container {
          position: relative;
          width: 90%;
          list-style-type: none; }
          .skills .content .development-wrapper .skills-bar-container li {
            width: 100%;
            margin-bottom: 20px; }
            .skills .content .development-wrapper .skills-bar-container li .progressbar-title {
              color: #002440;
              margin-bottom: 5px; }
              .skills .content .development-wrapper .skills-bar-container li .progressbar-title h3 {
                display: inline-block;
                font-weight: bold;
                font-size: 2vw; }
              .skills .content .development-wrapper .skills-bar-container li .progressbar-title .percent {
                position: absolute;
                right: 20px;
                font-size: 1.5vw;
                font-style: italic;
                font-weight: bold; }
            .skills .content .development-wrapper .skills-bar-container li .bar-container {
              background: #ececec;
              position: relative;
              width: 100%;
              height: 10px;
              border-radius: 100px; }
              .skills .content .development-wrapper .skills-bar-container li .bar-container .progressbar {
                background: darkred;
                border-radius: 100px;
                position: absolute;
                width: 0%;
                height: 100%; }
      .skills .content .portfolio-wrapper {
        height: 100%;
        width: 100%;
        float: left;
        padding-left: 10px; }
        .skills .content .portfolio-wrapper .grid-portfolio {
          display: grid;
          padding: 15px 0;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 20px; }
        .skills .content .portfolio-wrapper .grid-portfolio > div {
          text-align: center;
          padding: 15px 0;
          font-size: 30px; }
          .skills .content .portfolio-wrapper .grid-portfolio > div .img-portfolio {
            display: inline-block;
            margin: 0 auto;
            opacity: 0.2; } }

/*##### SECTION CONTACT #####*/
.contact {
  height: 100%;
  width: 100%;
  text-align: center; }
  .contact .content {
    padding-top: 10vw; }
    .contact .content .socialIcons {
      list-style-type: none;
      display: inline-block;
      position: relative;
      text-align: center;
      width: 100%; }
      .contact .content .socialIcons li {
        display: inline-block;
        margin: auto 4vw;
        font-size: 4vw; }
        .contact .content .socialIcons li a {
          text-align: center;
          display: inline-block;
          line-height: 100px;
          color: #83a1d8;
          -webkit-transition: all 500ms ease;
          -o-transition: all 500ms ease;
          transition: all 500ms ease;
          -webkit-transform-origin: left;
          -ms-transform-origin: left;
          transform-origin: left;
          -webkit-transform: rotateY(-15deg);
          transform: rotateY(-15deg);
          text-shadow: 5px 0px 1px #222222; }
        .contact .content .socialIcons li a.linkedin:hover {
          color: #007bb5;
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          text-shadow: 0px 0px 1px #222222; }
        .contact .content .socialIcons li a.googlePlus:hover {
          color: #db4437;
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          text-shadow: 0px 0px 1px #222222; }
        .contact .content .socialIcons li a.instagram:hover {
          color: #e4405f;
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          text-shadow: 0px 0px 1px #222222; }
        .contact .content .socialIcons li a.facebook:hover {
          color: #3b5998;
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          text-shadow: 0px 0px 1px #222222; }
    .contact .content .signature {
      position: relative;
      top: 20vw;
      text-align: center; }
      .contact .content .signature p {
        font-style: italic;
        font-weight: bold;
        color: lightblue;
        letter-spacing: 2px; }

@media screen and (max-width: 768px) {
  .contact .content .socialIcons {
    list-style-type: none;
    display: inline-block;
    position: relative;
    text-align: center; }
    .contact .content .socialIcons li {
      display: inline-block;
      margin: auto 6vw;
      font-size: 10vw; }
      .contact .content .socialIcons li a {
        text-align: center;
        display: inline-block;
        line-height: 100px;
        color: #83a1d8;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
        text-shadow: none; }
      .contact .content .socialIcons li a.linkedin {
        color: #007bb5; }
        .contact .content .socialIcons li a.linkedin:hover {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          text-shadow: 0; }
      .contact .content .socialIcons li a.googlePlus {
        color: #db4437; }
        .contact .content .socialIcons li a.googlePlus:hover {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          text-shadow: 0; }
      .contact .content .socialIcons li a.instagram {
        color: #e4405f; }
        .contact .content .socialIcons li a.instagram:hover {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          text-shadow: 0; }
      .contact .content .socialIcons li a.facebook {
        color: #3b5998; }
        .contact .content .socialIcons li a.facebook:hover {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          text-shadow: 0; }
  .contact .content .signature {
    position: relative;
    top: 90vw;
    text-align: center; }
    .contact .content .signature p {
      font-style: italic;
      font-weight: bold;
      font-size: 3vw;
      color: lightblue;
      letter-spacing: 2px; } }
