/**
 * 
 * SCSS Portfolio
 *  
 * @author Edouard Diep
 */

/* ##### VARIABLES PRINCIPALES #####*/

$mainfont : montserrat;
$white: #f8f8f8;

$title-color: #002440;

$dark : #2f2f2f;
$linkedin-top: #007bb5;
$google-top: #db4437;
$phone-top: #3b5998;

$lightBlue: hsl(219, 52%, 68%);
$progressbar-bg: #ececec;
$experience-bg-color: #002440;
$experience-content-bg-color: #f5f5f5;
$turquoise : #80BCBB;

@font-face {
	font-family: $mainfont;
	src: url(./fonts/Montserrat-Medium.ttf);
}

@mixin transition($in) {
	transition:$in;
	-webkit-transition:$in;
	-moz-transition:$in;
	-o-transition:$in;
	-ms-transition:$in;
}
@mixin transform($in) {
	transform:$in;
	-webkit-transform:$in;
	-moz-transform:$in;
	-o-transform:$in;
	-ms-transform:$in;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	font-family: $mainfont;
}

html, body {
    overflow-x: hidden;
    height:100%;
    width:100%;
    -webkit-overflow-scrolling: touch;    
    scroll-behavior: smooth;
}

/*##### NAV BAR #####*/

// PC Version

.section-navbar{
    background-color: $white;
    position: fixed;    
    width: 100%;
    height: 9vw;
    z-index: 9999;
    box-shadow: inset 0px 10px 20px -15px $title-color, inset 0px -10px 20px -15px $title-color;
    .navbar {
        ul {
            padding: 3.5vw;
            float: right;
            position: relative;
            list-style: none;
            letter-spacing: 4em;
            opacity:0;
            li {
                display: inline-block;
                margin-left: 1.5vw;
                a {
                    color: $dark;
                    display: block;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.2vw;
                    font-style: italic;
                    font-weight: 600;
                    letter-spacing: 1px;
                    position: relative;
                    padding:10px;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    outline:none;
                    border:none;
                    overflow: hidden;
                    cursor:pointer;
                    position:relative;
                    border:2px solid $lightBlue;
                    border-radius:10px;
                    box-shadow: inset 0px 11px 20px -15px lightslategray, inset 0px -11px 20px -15px lightslategray;
                    &:hover{
                        border:2px solid $experience-bg-color;
                        transition: all 0.5s ease;
                        background-color: $lightBlue;
                        color:$white;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                
                    &:after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: $experience-content-bg-color;
                        transition: width .3s;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        width: 90%;
                        height: 2px;
                        bottom: 10px;
                        margin-right:4px;
                        background-color: $lightBlue;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                    }
                }
            }
        }

        
        .logo {
            opacity: 0;
            position: absolute;
            max-height:2.5vw;
            max-width:2.5vw;
            left:5vw;
            top:0.5vw;
        }

        .active {
            a{
                color:$experience-content-bg-color;
                background-color:$phone-top;
                &:before,
                &:hover:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
        }
    }
}

// RESPONSIVE MOBILE ADAPTATION : NAV-BAR
@media screen and (max-width:619px){
    .section-navbar{
        width:100%;
        height:15vw;
        min-height: 12vw;
        .navbar{
            ul {
                position: relative;
                padding:0;
                padding-top: 3.5vw;
                padding-bottom: 2.5vw;
                letter-spacing: 2.5vw;
                left:0;
                width:100%;
                height:100%;
                text-align: center;
                li {
                    margin:0;
                    display: inline-block;
                    a {
                        &::before{
                            content: "";
                            position: absolute;
                            width: 85%;
                            height: 2px;
                            bottom: 4px;
                            margin-right:4px;
                            background-color: $lightBlue;
                            visibility: hidden;
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                            -webkit-transition: all 0.3s ease-in-out 0s;
                            transition: all 0.3s ease-in-out 0s;
                        }
                        font-size: 2.5vw;
                        font-style:normal;
                        position: relative;
                        padding:5px;
                        border:1px solid $lightBlue;
                        border-radius:5px;
                        color:$experience-content-bg-color;
                        background-color:$phone-top;
                        font-weight: 600;
                        box-shadow: inset 0px 10px 15px -12px $white, inset 0px -10px 15px -12px $white;
                        &:hover{
                            color:$experience-bg-color;
                            background-color:$white;
                            box-shadow: inset 0px 8px 20px -15px $experience-bg-color, inset 0px -8px 20px -15px $experience-bg-color;
                        }
                    }
                }
            }

            .logo {
                height:0;
                width:0;
                opacity: 0;
            }
            .active {
                a{
                    color:$experience-bg-color;
                    background-color:$experience-content-bg-color;
                    &:before,
                    &:hover:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

// RESPONSIVE HORIZONTALE ADAPTATION : NAV-BAR
@media screen and (min-width:620px) and (max-width:812px){
    .section-navbar{
        width:100%;
        height:32px;
        text-align: center;
        margin:auto;
        .navbar{
            ul {
                position: relative;
                padding:0;
                letter-spacing: 2.5vw;
                width:100%;
                height:100%;
                li {
                    margin:auto;
                    display: inline-flex;
                    text-align: center;
                    a {
                        &::before{
                            content: "";
                            position: absolute;
                            width: 85%;
                            height: 2px;
                            bottom: 4px;
                            margin-right:4px;
                            background-color: $lightBlue;
                            visibility: hidden;
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                            -webkit-transition: all 0.3s ease-in-out 0s;
                            transition: all 0.3s ease-in-out 0s;
                        }
                        font-size: 1.5vw;
                        font-style:normal;
                        position: relative;
                        padding:5px;
                        border:1px solid $lightBlue;
                        border-radius:5px;
                        color:$experience-content-bg-color;
                        background-color:$phone-top;
                        font-weight: 600;
                        box-shadow: inset 0px 10px 15px -12px $white, inset 0px -10px 15px -12px $white;
                        &:hover{
                            color:$experience-bg-color;
                            background-color:$white;
                            box-shadow: inset 0px 8px 20px -15px $experience-bg-color, inset 0px -8px 20px -15px $experience-bg-color;
                        }
                    }
                }
            }

            .logo {
                height:0;
                width:0;
                opacity: 0;
            }
            .active {
                a{
                    color:$experience-bg-color;
                    background-color:$experience-content-bg-color;
                    &:before,
                    &:hover:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}



/*##### SECTION ACCUEIL #####*/

.mainPage{
    position: relative;
	height: 150%;
    width: 100%;
    background: transparent url("./images/skill_it_bg.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-width:812px) {
        background-attachment: local;
        background-position-x: 15%;
    }
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding-top:5vw;
    color:$white;
    box-shadow: inset 0px 11px 20px -15px $title-color, inset 0px -11px 20px -15px $title-color;
    .content{
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        margin: auto;
        @media screen and (min-width:1440px){
            top:250px;
        }
        top:250px;
        text-shadow: -1.5px 0 $title-color, 0 1.5px $title-color, 1.5px 0 $title-color, 0 -1.5px $title-color;
        // Div correspondant au message d'entrée lors du chargement de la page 
        .last-part-writer {
            font-size: 2vw;
            position: relative;
            width: 100%;
            padding: 5px 0;
            font-style: italic;
            transition: all 400ms ease;
            opacity:0;
        }
        // Div Correspondant à l'objectif 
        .description-wrapper {
            position: relative;
            width:100%;
            height: 100%;
            text-align: center;
            display: block;
            margin: auto;
            .aboutText {
                position: relative;
                opacity: 0;
                width:fit-content;
                height:fit-content;
                display:inline-block;
                p{
                    font-style: italic;
                    font-size: 0.8vw;
                    letter-spacing: 1px;
                }
                h1{
                    position: relative;
                    font-size:1.5vw;
                    font-style: normal;
                }
            } 

            .objectif-wrapper {
                display: block;
                text-align: center;
                height:100%;
                width:100%;
                padding-top:100px;
                margin: auto;
                opacity: 0;
                .profil-wrapper{
                    border-radius: 50%;
                    border: 2px solid $title-color;
                    border-spacing:50px;
                    text-align: center;
                    height:350px;
                    width:350px;
                    overflow: hidden;
                    text-align-last: center;
                    margin:auto;
                    margin-bottom: 50px;
                    margin-top:15px;
                    .profil {
                        position: relative;
                        height: 694px;
                        width: 983px;
                        opacity: 1;
                        left:-336px;
                        top:-35px;
                        filter:grayscale(0.2);

                    }
                }
                p{
                    font-size: 1.6vw;
                    font-style: italic;
                    width:60%;
                    text-align:justify;
                    margin:auto;
                    background-color:$title-color;
                    border-radius: 15px;
                    border: 1.8px solid $white;
                    padding:25px;
                    opacity: 1;
                    color:$lightBlue;
                }
            }
        }
        h1 {
            font-size: 3vw;
            position: relative;
            padding: 5px 0;
            font-weight: 100;
        }
    }
}

// RESPONSIVE MOBILE ADAPTATION : MAIN PAGE
@media screen and (max-width:430px){
    .mainPage{
        .content{
            padding-top:20px;
            top:75px;
            h1 {
                font-size: 30px;
                position: relative;
                padding: 2px 0;
            }
            // Div correspondant au message d'entrée lors du chargement de la page 
            .last-part-writer {
                width: fit-content;
                height: fit-content;
                text-align: center;
                font-size: 20px;
                position: relative;
                width: 100%;
                padding: 3px 0;
                font-style: italic;
                background-color:$title-color;
                border-radius: 5px;
                margin-right:15px;
            }
            // Div Correspondant à l'objectif 
            .description-wrapper {
                margin:auto;
                display: inline;
                text-align: center;
                top:10%;
                .aboutText {
                    display:inline-block;
                    text-align: center;
                    p{
                        font-style: italic;
                        font-size: 0.8vw;
                        letter-spacing: 1px;
                    }
                    h1{
                        position: relative;
                        font-size:1.5vw;
                        font-style: normal;
                    }
                } 

                .objectif-wrapper {
                    margin:auto;
                    position: relative;
                    display:block;
                    text-align: center;
                    padding-top:40px;
                    opacity: 0;
                    .profil-wrapper{
                        height:150px;
                        width:150px;
                        margin-bottom: 10px;
                        .profil {
                            opacity: 1;
                            height: 315px;
                            width: 438px;
                            left:-148px;
                            top:-15px;
                        }
                    }

                    p{
                        position: absolute;
                        font-size: 3vw;
                        font-style: italic;
                        font-weight: 100;
                        opacity: 0.9;
                        width: 300px;
                        margin:auto;
                        text-align:justify;
                        background-color:$title-color;
                        border-radius: 5px;
                        border: 1px solid $white;
                        padding:10px;
                    }
                }
            }
        }
    } 
}

// RESPONSIVE TABLET ADAPTATION : MAIN PAGE
@media screen and (min-width:431px) and (max-width:600px){
    .mainPage{
        .content{
            padding-top:20px;
            top:75px;
            h1 {
                font-size: 30px;
                position: relative;
                padding: 2px 0;
            }
            // Div correspondant au message d'entrée lors du chargement de la page 
            .last-part-writer {
                width: fit-content;
                height: fit-content;
                text-align: center;
                font-size: 20px;
                position: relative;
                width: 100%;
                padding: 3px 0;
                font-style: italic;
                background-color:$title-color;
                border-radius: 5px;
                margin-right:15px;
            }
            // Div Correspondant à l'objectif 
            .description-wrapper {
                margin:auto;
                display: inline;
                text-align: center;
                top:10%;
                .aboutText {
                    display:inline-block;
                    text-align: center;
                    p{
                        font-style: italic;
                        font-size: 0.8vw;
                        letter-spacing: 1px;
                    }
                    h1{
                        position: relative;
                        font-size:1.5vw;
                        font-style: normal;
                    }
                } 

                .objectif-wrapper {
                    margin:auto;
                    position: relative;
                    display:block;
                    width:5em;
                    text-align: center;
                    padding-top:40px;
                    opacity: 0;
                    .profil-wrapper{
                        height:150px;
                        width:150px;
                        margin-bottom: 30px;
                        margin-left: -25px;
                        .profil {
                            opacity: 1;
                            height: 345px;
                            width: 480px;
                            left:-170px;
                            top:-20px;
                        }
                    }

                    p{
                        position: absolute;
                        font-size: 2.5vw;
                        font-style: italic;
                        font-weight: 100;
                        opacity: 0.9;
                        width: 410px;
                        margin-left:-155px;
                        text-align:justify;
                        background-color:$title-color;
                        border-radius: 5px;
                        border: 1px solid $white;
                        padding:10px;
                    }
                }
            }
        }
    } 
}

// RESPONSIVE HORIZONTALE ADAPTATION : MAIN PAGE
@media screen and (min-width:601px) and (max-width:790px){
    .mainPage{
        .content{
            padding-top:20px;
            top:75px;
            h1 {
                font-size: 30px;
                position: relative;
                padding: 2px 0;
            }
            // Div correspondant au message d'entrée lors du chargement de la page 
            .last-part-writer {
                width: fit-content;
                height: fit-content;
                text-align: center;
                font-size: 20px;
                position: relative;
                width: 100%;
                padding: 3px 0;
                font-style: italic;
                background-color:$title-color;
                border-radius: 5px;
                margin-right:15px;
            }
            // Div Correspondant à l'objectif 
            .description-wrapper {
                margin:auto;
                display: inline;
                text-align: center;
                top:10%;
                .aboutText {
                    display:inline-block;
                    text-align: center;
                    p{
                        font-style: italic;
                        font-size: 0.8vw;
                        letter-spacing: 1px;
                    }
                    h1{
                        position: relative;
                        font-size:1.5vw;
                        font-style: normal;
                    }
                } 

                .objectif-wrapper {
                    margin:auto;
                    position: relative;
                    display:block;
                    width:5em;
                    text-align: center;
                    padding-top:40px;
                    opacity: 0;
                    .profil-wrapper{
                        height:150px;
                        width:150px;
                        margin-bottom: 10px;
                        margin-left:-25px;
                        .profil {
                            opacity: 1;
                            height: 345px;
                            width: 475px;
                            left:-169px;
                            top:-20px;
                        }
                    }

                    p{
                        position: absolute;
                        font-size: 1.9vw;
                        font-style: italic;
                        font-weight: 100;
                        opacity: 0.9;
                        width: 550px;
                        margin-left:-225px;
                        text-align:justify;
                        background-color:$title-color;
                        border-radius: 5px;
                        border: 1px solid $white;
                        padding:10px;
                    }
                }
            }
        }
    } 
}

// RESPONSIVE HORIZONTALE IPHONE X ADAPTATION : MAIN PAGE
@media screen and (min-width:791px) and (max-width:812px){
    .mainPage{
        .content{
            padding-top:20px;
            top:75px;
            h1 {
                font-size: 30px;
                position: relative;
                padding: 2px 0;
            }
            // Div correspondant au message d'entrée lors du chargement de la page 
            .last-part-writer {
                width: fit-content;
                height: fit-content;
                text-align: center;
                font-size: 20px;
                position: relative;
                width: 100%;
                padding: 3px 0;
                font-style: italic;
                background-color:$title-color;
                border-radius: 5px;
                margin-right:15px;
            }
            // Div Correspondant à l'objectif 
            .description-wrapper {
                margin:auto;
                display: inline;
                text-align: center;
                top:10%;
                .aboutText {
                    display:inline-block;
                    text-align: center;
                    p{
                        font-style: italic;
                        font-size: 0.8vw;
                        letter-spacing: 1px;
                    }
                    h1{
                        position: relative;
                        font-size:1.5vw;
                        font-style: normal;
                    }
                } 

                .objectif-wrapper {
                    margin:auto;
                    position: relative;
                    display:block;
                    width:5em;
                    text-align: center;
                    padding-top:10px;
                    opacity: 0;
                    .profil-wrapper{
                        height:150px;
                        width:150px;
                        margin-bottom: 10px;
                        margin-left:-25px;
                        .profil {
                            opacity: 1;
                            height: 345px;
                            width: 480px;
                            left:-170px;
                            top:-20px;
                        }
                    }

                    p{
                        position: absolute;
                        font-size: 1.9vw;
                        font-style: italic;
                        font-weight: 100;
                        opacity: 0.9;
                        width: 750px;
                        margin-left:-325px;
                        text-align:justify;
                        background-color:$title-color;
                        border-radius: 5px;
                        border: 1px solid $white;
                        padding:10px;
                    }
                }
            }
        }
    } 
}

/*##### SECTION EXPERIENCE #####*/

.experience{
    position: relative;
    background: $experience-bg-color;
    padding: 50px 0;
    width: 100%;
    overflow-x: hidden;
    @media screen and (min-width:1950px) {
        padding-top:250px;
    }
    
.content{
    text-align: center;
    
    h1{
    font-size: 25px;
    color: #fff;
    letter-spacing: 1px;
    }
    
    ul{
    padding: 50px 0;
    list-style-type: none;

    li{
        background: $experience-content-bg-color;
        position: relative;
        margin-left: 20px;
        width: 5px;
        padding-bottom: 40px;

        &:last-child{
        padding-bottom: 8px;
        }

        &:before{
        content: '';
        background: $experience-bg-color;
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 20px;
        height: 20px;
        border: 4px solid $experience-content-bg-color;
        }

        .hidden {
        opacity: 0;
        margin-left: 0;
        }

        .experience-content{
            background: $experience-content-bg-color; 
            position: relative;
            top: 11px;
            left: 48px;
            width: calc(100vw - 100px);
            padding: 20px;
            -webkit-border-radius: 0 5px 5px;
            -moz-border-radius: 0 5px 5px;
            border-radius: 0 5px 5px;

            h2{
                text-align: center;
                font-size: 1.3em;
                color: $title-color;
                padding-bottom: 10px;
            }
            p{
                text-align: justify;
            }

        .experience-time{
            color: #777;
            font-size: 0.8em;
            padding-bottom: 10px;
        }

        p{
            color: #1a1a1a;
            font-size: .95em;
        }

        &:before{
            content: '';
            background: $experience-content-bg-color;
            position: absolute;
            top: 0;
            left: -35px;
            width: 35px;
            height: 5px;
        }
        }
    }
    }
}
}

// RESPONSIVE PC ADAPTATION EXPERIENCE-SECTION

@media screen and (min-width: 820px) {
    .experience{
        .content{
            h1{
                font-size:2vw;
            }
            ul{
                li{
                    margin: 0 auto;
                    
                    .experience-content{
                        width: 35vw;
                        h2{
                            font-size:1.8em;
                        }
                        p{
                            font-size:1.1em;
                        }
                    }
                    
                    &:nth-child(odd) .experience-content {
                        left: 63px;
                    }
                    &:nth-child(odd) .experience-content:before {
                        left: -50px;
                        width: 50px;
                    }
                    &:nth-child(even) .experience-content {
                        left: calc(-35vw - 59px);
                        -webkit-border-radius: 5px 0px 5px 5px;
                        -moz-border-radius: 5px 0px 5px 5px;
                        border-radius: 5px 0px 5px 5px;
                    }
                    &:nth-child(even) .experience-content:before {
                        left: auto;
                        right: -50px;
                        width: 50px;
                    }
                    &:nth-child(odd) .hidden{
                        margin-left: 10vw;
                    }
                    &:nth-child(even) .hidden{
                        margin-left: -10vw;
                    }
                }
            }
        }
    }
}

/*##### SECTION SKILLS IT #####*/

// PC Adaptation
.skills {
position: relative;
display: table;
width:100%;
height:90%;
padding-top:150px;
box-shadow: inset 0px 11px 20px -15px $title-color, inset 0px -11px 20px -15px $title-color;
@media screen and (min-width:1950px) {
    padding-top:250px;
}

    .development-wrapper{
        width:50%;
        float:left;
        border-right: 8px groove $lightBlue;

        .development-title{
            font-size: 2vw;
            text-align: center;
            color:$title-color;
            margin-bottom: 50px;
            letter-spacing: 1px;
        }
    

        .skills-bar-container{
            position: relative;
            width: 95%;
            list-style-type:none;
            padding-left:50px;
        
            li{
                width: 100%;
                margin-bottom: 20px;
                
                .progressbar-title{
                color: $title-color;
                margin-bottom: 15px;
                margin-top:15px;

                    h3{
                        display: inline-block;
                        font-weight: 100;
                        font-size: 1.3vw;
                    }
                
                    .percent{
                        position: absolute;
                        right: 20px;
                        font-size: 1.1vw;
                        font-style: italic;
                        font-weight: bold;
                    }
                }
                
                .bar-container{
                background: $progressbar-bg;
                position: relative;
                width: 100%;
                height: 10px;
                border-radius: 100px;

                    .progressbar{
                        background:darkred;
                        border-radius: 100px;
                        position:absolute;
                        width:0%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .portfolio-wrapper{

        height:100%;
        width:50%;
        float:left;

        .development-title{
            font-size: 2vw;
            text-align: center;
            color:$title-color;
            letter-spacing: 1px;
        }
        
        .grid-portfolio{
            display: grid;
            padding:15px 0;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 20px;
        }

        .grid-portfolio > div{
            text-align: center;
            padding: 15px 0;
            font-size: 30px;

            .img-portfolio{
                display: inline-block;
                margin: 0 auto;
                border:2px solid $turquoise; 
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                opacity: 0.2;

            }
        }
    }
}

// MOBILE RESPONSIVE ADAPTATION : SKILLS-IT
@media screen and (max-width:820px){
    .skills {
        z-index: 95;
        display: block;
        width:100%;
        height:60em;
        margin: auto;
        padding-top:10px;
        .development-wrapper{
            width:100%;
            float:left;      
            border:none;

            .development-title{
                font-size: 1.2em;
                text-align: center;
                color:$title-color;
                padding-top:50px;
                //margin-bottom: 50px;
                letter-spacing: 1px;
            }

            .skills-bar-container{
                position: relative;
                width: 95%;
                list-style-type:none;
                padding-left:25px;
            
                li{
                    width: 100%;
                    margin-bottom: 20px;
                    
                    .progressbar-title{
                    color: $title-color;
                    margin-bottom: 5px;
                    display:inline-flex;

                        h3{
                            display: inline-block;
                            font-weight: bold;
                            font-size: 0.65em;
                        }
                    
                        .percent{
                            position: absolute;
                            right: 20px;
                            font-size: 0.6em;
                            font-style: italic;
                            font-weight: bold;
                        }
                    }
                    
                    .bar-container{
                    background: $progressbar-bg;
                    position: relative;
                    width: 100%;
                    height: 10px;
                    border-radius: 100px;

                        .progressbar{
                            background:darkred;
                            border-radius: 100px;
                            position:absolute;
                            width:0%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .portfolio-wrapper{
            height:100%;
            width:100%;
            float:left;

            .development-title{
                font-size: 1.2em;
                text-align: center;
                color:$title-color;
                margin-top:50px;
                letter-spacing: 1px;
            }
            .grid-portfolio{
                text-align: center;
                vertical-align: middle;
                display: grid;
                padding:15px 0;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 0;
            }

            .grid-portfolio > div{
                text-align: center;
                padding: 5px 0;
                font-size: 30px;

                .img-portfolio{
                    display: inline-block;
                    margin: 0 auto;
                    opacity: 0.2;

                }
            }
        }
    }
}

/*##### SECTION CONTACT #####*/


// PC Adaptation
.contact {
position: relative;
height: 95%;
width: 100%;
text-align: center;
box-shadow: inset 0px 11px 20px -15px black;
background-color:$experience-content-bg-color;
.content{
    padding-top:5em;
    .contact-title{
        font-size: 2.5em;
        text-align: center;
        color:$title-color;
        letter-spacing: 1px;
        margin-top:100px;
        margin-bottom:100px;
    }
    .socialIcons{
        list-style-type: none;
        display: inline-block;
        position: relative;
        text-align: center;
        width:100%;
        li{
            display: inline-block;
            margin: auto 4vw;
            font-size: 4vw;
            a{
                text-align:center;
                display: inline-block;
                line-height: 100px;
                color:$lightBlue;
                transition: all 500ms ease;
                transform-origin: left;
                transform: rotateY(-15deg);
                text-shadow:
                5px 0px 1px darken($dark, 5%);
            }
            a.linkedin{
                &:hover{
                    color:$linkedin-top;
                    transform: rotateY(0deg);
                    text-shadow:
                    0px 0px 1px darken($dark, 5%);

                }
            }
            a.googlePlus{
                &:hover{
                    color:$google-top;
                    transform: rotateY(0deg);
                    text-shadow:
                    0px 0px 1px darken($dark, 5%);
                }
            }
            a.email{
                &:hover{
                    color: $google-top;
                    transform:rotateY(0deg);
                    text-shadow:
                    0px 0px 1px darken($dark, 5%); 
                }
            }
            a.phone{
                &:hover{
                    color:$phone-top;
                    transform: rotateY(0deg);
                    text-shadow:
                    0px 0px 1px darken($dark, 5%);
                }
            }
        }
    }
}
}

// DIV SIGNATURE 
.signature{
    background-color:$experience-bg-color;
    opacity:0.7;
    position: relative;
    text-align: center;
    p{
        font-style:italic;
        font-weight: bold;
        color:$lightBlue;
        letter-spacing: 2px;
    }
}

// MOBILE RESPONSIVE ADAPTATION : CONTACT
@media screen and (max-width:619px) {
    .contact {
        margin:auto;
        display: block;
        text-align: center;
        .content{
            position: relative;
            padding-top:2em;
            .contact-title{
                font-size: 6vw;
                text-align: center;
                color:$title-color;
                letter-spacing: 1px;
            }
            .socialIcons{
                list-style-type: none;
                display: inline-block;
                position: relative;
                li{
                    display: inline-block;
                    font-size: 8vw;
                    a{
                        display: inline-block;
                        transition: all 500ms ease;
                        transform: rotateY(0);
                        text-shadow:none;
                    }
                    a.linkedin{
                        color:$linkedin-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.googlePlus{
                        color:$google-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.email{
                        color: $lightBlue;
                        &:hover{
                            transform:rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.phone{
                        color:$phone-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                }
            }
        }
    }       
}

// DIV SIGNATURE RESPONSIVE DESIGN
@media screen and (max-width:820px) {
    .signature{
        position: relative;
        text-align: center;
        p{
            font-style:italic;
            font-weight: bold;
            font-size:3vw;
            letter-spacing: 2px;
        }
    }
}

// RESPONSIVE HORIZONTALE ADAPTATION : CONTACT
@media screen and (min-width:620px) and (max-width:812px){
    .contact {
        margin:auto;
        display: block;
        text-align: center;
        .content{
            position: relative;
            padding-top:2em;
            .contact-title{
                font-size: 6vw;
                text-align: center;
                color:$title-color;
                letter-spacing: 1px;
                margin-top:50px;
                margin-bottom:20px;
            }
            .socialIcons{
                list-style-type: none;
                display: inline-block;
                position: relative;
                li{
                    display: inline-block;
                    font-size: 8vw;
                    a{
                        display: inline-block;
                        transition: all 500ms ease;
                        transform: rotateY(0);
                        text-shadow:none;
                    }
                    a.linkedin{
                        color:$linkedin-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.googlePlus{
                        color:$google-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.email{
                        color: $lightBlue;
                        &:hover{
                            transform:rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.phone{
                        color:$phone-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                }
            }
        }
    }       
}