/**
 * 
 * SCSS Portfolio
 *  
 * @author Edouard Diep
 */

/* ##### VARIABLES PRINCIPALES #####*/

$mainfont : montserrat;
$white: #f8f8f8;

$title-color: #002440;
$shadow-color: rgba(0, 0, 0, 0.45);

$dark : #2f2f2f;
$linkedin-top: #007bb5;
$github-top: #211F1F;
$email-top: #db4437;
$phone-top: #3b5998;

$lightBlue: hsl(219, 52%, 68%);
$progressbar-bg: #ececec;
$experience-bg-color: #002440;
$experience-content-bg-color: #f5f5f5;
$turquoise : #80BCBB;

@font-face {
	font-family: $mainfont;
	src: url(./fonts/Montserrat-Medium.ttf);
}

@mixin transition($in) {
	transition:$in;
	-webkit-transition:$in;
	-moz-transition:$in;
	-o-transition:$in;
	-ms-transition:$in;
}
@mixin transform($in) {
	transform:$in;
	-webkit-transform:$in;
	-moz-transform:$in;
	-o-transform:$in;
	-ms-transform:$in;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	font-family: $mainfont;
}

html, body {
    overflow-x: hidden;
    height:100%;
    width:100%;
    -webkit-overflow-scrolling: touch;    
    scroll-behavior: smooth;
}

/*##### NAV BAR #####*/

// PC Version

.section-navbar{
    background-color: $white;
    position: fixed;    
    width: 100%;
    height: 9vw;
    z-index: 9999;
    box-shadow: inset 0px 10px 20px -15px $title-color, inset 0px -10px 20px -15px $title-color;
    .navbar {
        ul {
            padding: 3.5vw;
            float: right;
            position: relative;
            list-style: none;
            letter-spacing: 4em;
            opacity:0;
            li {
                display: inline-block;
                margin-left: 1.5vw;
                a {
                    color: $dark;
                    display: block;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1.2vw;
                    font-style: italic;
                    font-weight: 600;
                    letter-spacing: 1px;
                    position: relative;
                    padding:10px;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    outline:none;
                    border:none;
                    overflow: hidden;
                    cursor:pointer;
                    position:relative;
                    border:2px solid $lightBlue;
                    border-radius:10px;
                    box-shadow: inset 0px 11px 20px -15px lightslategray, inset 0px -11px 20px -15px lightslategray;
                    &:hover{
                        border:2px solid $experience-bg-color;
                        transition: all 0.5s ease;
                        background-color: $lightBlue;
                        color:$white;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                
                    &:after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 2px;
                        background: $experience-content-bg-color;
                        transition: width .3s;
                    }
                    &::before{
                        content: "";
                        position: absolute;
                        width: 90%;
                        height: 2px;
                        bottom: 10px;
                        margin-right:4px;
                        background-color: $lightBlue;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                    }
                }
            }
        }

        
        .logo {
            opacity: 0;
            position: absolute;
            max-height:2.5vw;
            max-width:2.5vw;
            left:5vw;
            top:0.5vw;
        }

        .active {
            a{
                color:$experience-content-bg-color;
                background-color:$phone-top;
                &:before,
                &:hover:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
        }
    }
}

// RESPONSIVE MOBILE ADAPTATION : NAV-BAR
@media screen and (max-width:619px){
    .section-navbar{
        width:100%;
        height:15vw;
        min-height: 12vw;
        .navbar{
            ul {
                position: relative;
                padding:0;
                padding-top: 3.5vw;
                padding-bottom: 2.5vw;
                letter-spacing: 2.5vw;
                left:0;
                width:100%;
                height:100%;
                text-align: center;
                li {
                    margin:0;
                    display: inline-block;
                    a {
                        &::before{
                            content: "";
                            position: absolute;
                            width: 85%;
                            height: 2px;
                            bottom: 4px;
                            margin-right:4px;
                            background-color: $lightBlue;
                            visibility: hidden;
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                            -webkit-transition: all 0.3s ease-in-out 0s;
                            transition: all 0.3s ease-in-out 0s;
                        }
                        font-size: 2.5vw;
                        font-style:normal;
                        position: relative;
                        padding:5px;
                        border:1px solid $lightBlue;
                        border-radius:5px;
                        color:$experience-content-bg-color;
                        background-color:$phone-top;
                        font-weight: 600;
                        box-shadow: inset 0px 10px 15px -12px $white, inset 0px -10px 15px -12px $white;
                        &:hover{
                            color:$experience-bg-color;
                            background-color:$white;
                            box-shadow: inset 0px 8px 20px -15px $experience-bg-color, inset 0px -8px 20px -15px $experience-bg-color;
                        }
                    }
                }
            }

            .logo {
                height:0;
                width:0;
                opacity: 0;
            }
            .active {
                a{
                    color:$experience-bg-color;
                    background-color:$experience-content-bg-color;
                    &:before,
                    &:hover:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

// RESPONSIVE HORIZONTALE ADAPTATION : NAV-BAR
@media screen and (min-width:620px) and (max-width:812px){
    .section-navbar{
        width:100%;
        height:32px;
        text-align: center;
        margin:auto;
        .navbar{
            ul {
                position: relative;
                padding:0;
                letter-spacing: 2.5vw;
                width:100%;
                height:100%;
                li {
                    margin:auto;
                    display: inline-flex;
                    text-align: center;
                    a {
                        &::before{
                            content: "";
                            position: absolute;
                            width: 85%;
                            height: 2px;
                            bottom: 4px;
                            margin-right:4px;
                            background-color: $lightBlue;
                            visibility: hidden;
                            -webkit-transform: scaleX(0);
                            transform: scaleX(0);
                            -webkit-transition: all 0.3s ease-in-out 0s;
                            transition: all 0.3s ease-in-out 0s;
                        }
                        font-size: 1.5vw;
                        font-style:normal;
                        position: relative;
                        padding:5px;
                        border:1px solid $lightBlue;
                        border-radius:5px;
                        color:$experience-content-bg-color;
                        background-color:$phone-top;
                        font-weight: 600;
                        box-shadow: inset 0px 10px 15px -12px $white, inset 0px -10px 15px -12px $white;
                        &:hover{
                            color:$experience-bg-color;
                            background-color:$white;
                            box-shadow: inset 0px 8px 20px -15px $experience-bg-color, inset 0px -8px 20px -15px $experience-bg-color;
                        }
                    }
                }
            }

            .logo {
                height:0;
                width:0;
                opacity: 0;
            }
            .active {
                a{
                    color:$experience-bg-color;
                    background-color:$experience-content-bg-color;
                    &:before,
                    &:hover:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}



/*##### SECTION ACCUEIL #####*/

.mainPage{
    position: relative;
	height: 150%;
    width: 100%;
    background: transparent url("./images/skill_it_bg.jpeg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-width:812px) {
        background-attachment: local;
        background-position-x: 15%;
    }
    @media screen and (min-width: 826px) and (max-width: 1280px){
        height:180%;
    }
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding-top:5vw;
    color:$white;
    box-shadow: inset 0px 11px 20px -15px $title-color, inset 0px -11px 20px -15px $title-color;
    .content{
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        margin: auto;
        @media screen and (min-width:1440px){
            top:250px;
        }
        top:100px;
        text-shadow: 2px 0 0 $title-color, -2px 0 0 $title-color, 0 2px 0 $title-color, 0 -2px 0 $title-color, 1px 1px $title-color, -1px -1px 0 $title-color, 1px -1px 0 $title-color, -1px 1px 0 $title-color;
        // Div correspondant au message d'entrée lors du chargement de la page 
        .last-part-writer {
            font-size: 2vw;
            position: relative;
            width: 100%;
            padding: 5px 0;
            font-style: italic;
            transition: all 400ms ease;
            opacity:0;
        }
        // Div Correspondant à l'objectif 
        .description-wrapper {
            position: relative;
            width:100%;
            height: 100%;
            text-align: center;
            display: block;
            margin: auto;
            .aboutText {
                position: relative;
                opacity: 0;
                width:fit-content;
                height:fit-content;
                display:inline-block;
                p{
                    font-style: italic;
                    font-size: 0.8vw;
                    letter-spacing: 1px;
                }
                h1{
                    position: relative;
                    font-size:1.5vw;
                    font-style: normal;
                }
            } 

            .objectif-wrapper {
                display: block;
                text-align: center;
                height:100%;
                width:100%;
                padding-top:100px;
                margin: auto;
                opacity: 0;
                .profil-wrapper{
                    border-radius: 50%;
                    border: 2px solid $title-color;
                    border-spacing:50px;
                    text-align: center;
                    height:350px;
                    width:350px;
                    overflow: hidden;
                    text-align-last: center;
                    margin:auto;
                    margin-bottom: 20px;
                    margin-top:15px;
                    .profil {
                        position: relative;
                        height: 694px;
                        width: 983px;
                        opacity: 1;
                        left:-336px;
                        top:-35px;
                        filter:grayscale(0.2);

                    }
                }
                p{
                    font-size: 1.4vw;
                    font-style: italic;
                    width:60%;
                    text-align:justify;
                    margin:auto;
                    background-color:$title-color;
                    border-radius: 15px;
                    border: 1.8px solid $white;
                    padding:15px;
                    opacity: 1;
                    color:$white;
                }
            }
        }
        h1 {
            font-size: 3vw;
            position: relative;
            padding: 5px 0;
            font-weight: 100;
        }
    }
}

// RESPONSIVE MOBILE ADAPTATION : MAIN PAGE
@media screen and (max-width:430px){
    .mainPage{
        height:120%;
        .content{
            padding-top:20px;
            top:75px;
            h1 {
                font-size: 30px;
                position: relative;
                padding: 2px 0;
            }
            // Div correspondant au message d'entrée lors du chargement de la page 
            .last-part-writer {
                width: fit-content;
                height: fit-content;
                text-align: center;
                font-size: 20px;
                position: relative;
                width: 100%;
                padding: 3px 0;
                font-style: italic;
                background-color:$title-color;
                border-radius: 5px;
                margin-right:15px;
            }
            // Div Correspondant à l'objectif 
            .description-wrapper {
                margin:auto;
                display: inline;
                text-align: center;
                top:10%;
                .aboutText {
                    display:inline-block;
                    text-align: center;
                    p{
                        font-style: italic;
                        font-size: 0.8vw;
                        letter-spacing: 1px;
                    }
                    h1{
                        position: relative;
                        font-size:1.5vw;
                        font-style: normal;
                    }
                } 

                .objectif-wrapper {
                    margin:auto;
                    position: relative;
                    display:block;
                    text-align: center;
                    padding-top:40px;
                    opacity: 0;
                    .profil-wrapper{
                        height:150px;
                        width:150px;
                        .profil {
                            opacity: 1;
                            height: 315px;
                            width: 438px;
                            left:-148px;
                            top:-15px;
                        }
                    }

                    p{
                        position: relative;
                        font-size: 3.7vw;
                        font-style: italic;
                        font-weight: 100;
                        opacity: 0.9;
                        width: 340px;
                        margin:auto;
                        text-align:justify;
                        background-color:$title-color;
                        border-radius: 5px;
                        border: 1px solid $white;
                        padding:10px;
                    }
                }
            }
        }
    } 
}

// RESPONSIVE TABLET ADAPTATION : MAIN PAGE
@media screen and (min-width:431px) and (max-width:638px){
    .mainPage{
        .content{
            padding-top:20px;
            top:75px;
            h1 {
                font-size: 30px;
                position: relative;
                padding: 2px 0;
            }
            // Div correspondant au message d'entrée lors du chargement de la page 
            .last-part-writer {
                width: fit-content;
                height: fit-content;
                text-align: center;
                font-size: 20px;
                position: relative;
                width: 100%;
                padding: 3px 0;
                font-style: italic;
                background-color:$title-color;
                border-radius: 5px;
                margin-right:15px;
            }
            // Div Correspondant à l'objectif 
            .description-wrapper {
                margin:auto;
                display: inline;
                text-align: center;
                top:10%;
                .aboutText {
                    display:inline-block;
                    text-align: center;
                    p{
                        font-style: italic;
                        font-size: 0.8vw;
                        letter-spacing: 1px;
                    }
                    h1{
                        position: relative;
                        font-size:1.5vw;
                        font-style: normal;
                    }
                } 

                .objectif-wrapper {
                    margin:auto;
                    position: relative;
                    display:block;
                    text-align: center;
                    padding-top:40px;
                    opacity: 0;
                    .profil-wrapper{
                        height:150px;
                        width:150px;
                        margin-bottom: 20px;
                        .profil {
                            opacity: 1;
                            height: 345px;
                            width: 480px;
                            left:-170px;
                            top:-20px;
                        }
                    }

                    p{
                        position: relative;
                        font-size: 3.2vw;
                        font-style: italic;
                        font-weight: 100;
                        opacity: 0.9;
                        width: 450px;
                        margin:auto;
                        text-align:justify;
                        background-color:$title-color;
                        border-radius: 5px;
                        border: 1px solid $white;
                        padding:20px;
                    }
                }
            }
        }
    } 
}

// RESPONSIVE HORIZONTALE IPHONE X ADAPTATION : MAIN PAGE
@media screen and (min-width:639px) and (max-width:825px){
    .mainPage{
        height:170%;
        .content{
            top:50px;
            h1 {
                font-size: 30px;
                position: relative;
                padding: 2px 0;
            }
            // Div correspondant au message d'entrée lors du chargement de la page 
            .last-part-writer {
                width: fit-content;
                height: fit-content;
                text-align: center;
                font-size: 20px;
                position: relative;
                width: 60%;
                padding: 3px 0;
                font-style: italic;
                background-color:$title-color;
                border-radius: 5px;
                margin:auto;
            }
            // Div Correspondant à l'objectif 
            .description-wrapper {
                margin:auto;
                display: inline;
                text-align: center;
                top:10%;
                .aboutText {
                    display:inline-block;
                    text-align: center;
                    p{
                        font-style: italic;
                        font-size: 0.8vw;
                        letter-spacing: 1px;
                    }
                    h1{
                        position: relative;
                        font-size:1.5vw;
                        font-style: normal;
                    }
                } 

                .objectif-wrapper {
                    margin:auto;
                    position: relative;
                    display:block;
                    text-align: center;
                    opacity: 0;
                    .profil-wrapper{
                        height:150px;
                        width:150px;
                        margin-bottom: 10px;
                        .profil {
                            opacity: 1;
                            height: 345px;
                            width: 480px;
                            left:-170px;
                            top:-20px;
                        }
                    }

                    p{
                        position: relative;
                        font-size: 0.7em;
                        font-style: italic;
                        font-weight: 100;
                        opacity: 0.9;
                        width: 580px;
                        margin: auto;
                        text-align:justify;
                        background-color:$title-color;
                        border-radius: 5px;
                        border: 1px solid $white;
                        padding:10px;
                    }
                }
            }
        }
    } 
}

/*##### SECTION SKILLS IT #####*/

// PC Adaptation
.skills {
    position: relative;
    display: table;
    width:100%;
    height:100%;
    padding-top:100px;
    padding-bottom:100px;
    box-shadow: inset 0px 11px 20px -15px $title-color, inset 0px -11px 20px -15px $title-color;
    @media screen and (min-width:1950px) {
        padding-top:250px;
    }
    
        .development-wrapper{
            width:50%;
            float:left;
            border-right: 8px groove $lightBlue;
    
            .development-title{
                font-size: 2em;
                text-align: center;
                color:$title-color;
                margin-bottom: 50px;
                letter-spacing: 1px;
            }
        
    
            .skills-bar-container{
                position: relative;
                width: 95%;
                list-style-type:none;
                padding-left:50px;
            
                li{
                    width: 100%;
                    margin-bottom: 20px;
                    
                    .progressbar-title{
                    color: $title-color;
                    margin-bottom: 15px;
                    margin-top:15px;
    
                        .skills-logo{
                            height:60px;
                            margin-right:30px;
                            position: relative;
                            left:350px;
                            opacity: 0;
                        }
                        .sqr {
                            width:60px;
                        }
                        .rect {
                            width:130px;
                        }

                        .smallrect{
                            width:100px;
                        }

                        .bigrect{
                            width:180px;
                        }
                        .verybigrect{
                            height:40px;
                            width:180px;
                        }
                        label{
                            display: inline-block;
                            font-weight: lighter;
                            font-size: 80px;
                            color:lightgrey
                        }
                    
                        .percent{
                            position: absolute;
                            right: 20px;
                            padding-top:15px;
                            font-size: 1.1vw;
                            font-style: italic;
                            font-weight: bold;
                        }
                    }
                    
                    .bar-container{
                    background: $progressbar-bg;
                    position: relative;
                    width: 100%;
                    height: 8px;
                    border-radius: 100px;
    
                        .progressbar{
                            background: black;
                            border-radius: 100px;
                            position:absolute;
                            width:0%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .portfolio-wrapper{
    
            height:100%;
            width:50%;
            float:left;
    
            .development-title{
                font-size: 2em;
                text-align: center;
                color:$title-color;
                letter-spacing: 1px;
            }
            
            .grid-interests{
                display: grid;
                padding:15px 0;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 20px;
            }

    
            .grid-interests > div{
                text-align: center;
                padding: 15px 0;
                font-size: 30px;
    
                .img-interest{
                    display: inline-block;
                    margin: 0 auto;
                    border:2px solid $turquoise; 
                    border-radius: 50%;
                    margin-bottom:25px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    opacity: 0;
                    margin-top:20px;
                    transition: all 0.3s ease-in-out;
                    transition-property: transform, box-shadow;

                    &:hover{
                        transform: scale(1.2);
                        box-shadow: 0 2px 10px 0px $shadow-color;
                    }
                }
            }

            .grid-portfolio{
                display: grid;
                padding:15px 0;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 20px;
                text-align:center;
                grid-auto-columns: auto;

                .div-portfolio{
                    display:block;
                    height:150%;
                    padding-top:50px;
                    opacity: 0.0;
                    label{
                        font-size:1.2em;
                        font-weight:100;
                        font-style: italic;
                        color:$phone-top;
                    }

                    p{
                        font-size:0.7em;
                        text-align: justify;
                        padding-left: 1.2vw;
                        padding-right:1.2vw;
                    }
                    .img-portfolio{
                        height:6vw;
                        width: 11vw;
                        margin-top:20px;
                        border:1px solid $turquoise;
                        transition: all 0.3s ease-in-out;

                        &:hover{
                            position: relative;
                            height:7vw;
                            width:12vw;
                            box-shadow: 0 4px 12px 0px $shadow-color;
                            border: 2px inset $lightBlue;
                        }
                    }
                    .vertical{
                        border:none;
                        height:10vw;
                        width:5vw;
                        &:hover{
                            position: relative;
                            height:12vw;
                            width:6vw;
                            border:none;
                            box-shadow: none;
                        }
                    }                    
                }
            }
    
        }
    }

// RESPONSIVE MOBILE ADAPTATION : SKILLS IT
@media screen and (max-width:430px){
    .skills {
        height:120em;
        padding-top:10px;
        padding-bottom: 0;
        .development-wrapper{
            width: 100vw;
            height:100%;
            border:none;
            .development-title{
                font-size: 1.5em;
                padding-top:50px;
            }

            .skills-bar-container{
                padding-left:25px;
            
                li{
                    .progressbar-title{
                    color: $title-color;
                    margin-bottom: 5px;
                    display:inline-flex;

                        .skills-logo{
                            height:25px;
                            margin-right:10px;
                            left:250px;
                            opacity: 0;
                        }
                        .sqr {
                            width:25px;
                        }
                        .rect {
                            width:55px;
                        }

                        .smallrect{
                            width:40px;
                        }

                        .bigrect{
                            width:90px;
                        }
                        .verybigrect{
                            height:20px;
                            width:90px;
                        }
                        
                        .percent{
                            font-size: 0.7em;
                            padding-top:0;
                            color: $experience-bg-color;
                        }
                    }
                    
                    .bar-container{
                        height: 6px;
                    }
                }
            }
        }
        .portfolio-wrapper{
            width:100vw;
            .development-title{
                font-size: 1.5em;
                margin-top:50px;
                margin-bottom:50px;
            }
            .grid-interests{
                text-align: center;
                vertical-align: middle;
                grid-gap: 0;
            }

            .grid-interests > div{
                padding: 5px 0;
            }

            .grid-portfolio{
                display: block;
                padding:0;
                .div-portfolio{
                    padding-top:0;
                    label{
                        position: relative;
                        text-decoration: underline;
                        bottom: 15px;
                        font-style: normal;
                    }

                    p{
                        padding-left: 1em;
                        padding-right:1em;
                        padding-bottom:5em;
                    }
                    .img-portfolio{
                        height: 10em;
                        width: 16em;
                        margin:auto;
                    }
                    .vertical{
                        height:19em;
                        width:10em;
                        border:none;
                    }    
                }
            }
        }
    }
}
    
// RESPONSIVE TABLET ADAPTATION : SKILLS IT
@media screen and (min-width:431px) and (max-width:638px){
    .skills {
        height:130em;
        padding-top:10px;
        .development-wrapper{
            width: 100%;
            height:100%;
            border:none;
            .development-title{
                font-size: 1.5em;
                padding-top:50px;
            }

            .skills-bar-container{
                padding-left:25px;
            
                li{
                    .progressbar-title{
                    color: $title-color;
                    margin-bottom: 5px;
                    display:inline-flex;

                        .skills-logo{
                            height:40px;
                            margin-right:20px;
                            left:250px;
                            opacity: 0;
                        }
                        .sqr {
                            width:40px;
                        }
                        .rect {
                            width:80px;
                        }

                        .smallrect{
                            width:70px;
                        }

                        .bigrect{
                            width:100px;
                        }
                        .verybigrect{
                            height:30px;
                            width:120px;
                        }
                        
                        .percent{
                            font-size: 0.8em;
                            color: $experience-bg-color;
                        }
                    }
                    
                    .bar-container{
                        height: 6px;
                    }
                }
            }
        }
        .portfolio-wrapper{
            width:100%;
            .development-title{
                font-size: 1.5em;
                margin-top:50px;
                margin-bottom:50px;
            }
            .grid-interests{
                text-align: center;
                vertical-align: middle;
                grid-gap: 0;
            }

            .grid-interests > div{
                padding: 5px 0;
            }

            .grid-portfolio{
                display: block;
                padding:0;
                .div-portfolio{
                    padding-top:0;
                    label{
                        text-decoration: underline;
                    }

                    p{
                        padding-left: 10em;
                        padding-right:10em;
                        padding-bottom:5em;
                    }
                    .img-portfolio{
                        height: 10em;
                        width: 16em;
                    }
                    .vertical{
                        height:19em;
                        width:10em;
                        border:none;
                    }
                }
            }
        }
    }
}

// RESPONSIVE HORIZONTALE IPHONE X ADAPTATION : SKILLS IT
@media screen and (min-width:639px) and (max-width:825px){
    .skills {
        height:135em;
        padding-top:10px;
        .development-wrapper{
            width: 100%;
            height:100%;
            border:none;
            .development-title{
                font-size: 1.5em;
                padding-top:50px;
            }

            .skills-bar-container{
                padding-left:25px;
            
                li{
                    .progressbar-title{
                    color: $title-color;
                    margin-bottom: 5px;
                    display:inline-flex;

                        .skills-logo{
                            height:50px;
                            margin-right:20px;
                            left:250px;
                            opacity: 0;
                        }
                        .sqr {
                            width:50px;
                        }
                        .rect {
                            width:100px;
                        }

                        .smallrect{
                            width:90px;
                        }

                        .bigrect{
                            width:130px;
                        }
                        .verybigrect{
                            height:30px;
                            width:150px;
                        }
                        
                        .percent{
                            font-size: 0.8em;
                            color: $experience-bg-color;
                        }
                    }
                    
                    .bar-container{
                        height: 6px;
                    }
                }
            }
        }
        .portfolio-wrapper{
            width:100%;
            .development-title{
                font-size: 1.5em;
                margin-top:50px;
                margin-bottom:50px;
            }
            .grid-interests{
                text-align: center;
                vertical-align: middle;
                grid-gap: 0;
            }

            .grid-interests > div{
                padding: 5px 0;
            }

            .grid-portfolio{
                display: block;
                padding:0;
                .div-portfolio{
                    padding-top:0;
                    label{
                        text-decoration: underline;
                    }

                    p{
                        padding-left: 10em;
                        padding-right:10em;
                        padding-bottom:5em;
                    }
                    .img-portfolio{
                        height: 13em;
                        width: 22em;
                    }
                    .vertical{
                        height:19em;
                        width:10em;
                        border:none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:826px) and (max-width:1280px){
.skills{
    position: relative;
    display: table;
    width:100%;
    height:100%;
    padding-top:100px;
    padding-bottom:100px;
    box-shadow: inset 0px 11px 20px -15px $title-color, inset 0px -11px 20px -15px $title-color;
    @media screen and (min-width:1950px) {
        padding-top:250px;
    }
    
        .development-wrapper{
            width:50%;
            float:left;
            border-right: 8px groove $lightBlue;
    
            .development-title{
                font-size: 2em;
                text-align: center;
                color:$title-color;
                margin-bottom: 50px;
                letter-spacing: 1px;
            }
        
    
            .skills-bar-container{
                position: relative;
                width: 95%;
                list-style-type:none;
                padding-left:50px;
            
                li{
                    width: 100%;
                    margin-bottom: 20px;
                    
                    .progressbar-title{
                    color: $title-color;
                    margin-bottom: 15px;
                    margin-top:15px;
    
                        .skills-logo{
                            height:30px;
                            margin-right:20px;
                            position: relative;
                            left:350px;
                            opacity: 0;
                        }
                        .sqr {
                            width:30px;
                        }
                        .rect {
                            width:70px;
                        }

                        .smallrect{
                            width:50px;
                        }

                        .bigrect{
                            width:90px;
                        }
                        .verybigrect{
                            height:20px;
                            width:90px;
                        }
                        label{
                            display: inline-block;
                            font-weight: lighter;
                            font-size: 80px;
                            color:lightgrey
                        }
                    
                        .percent{
                            position: absolute;
                            right: 20px;
                            padding-top:15px;
                            font-size: 1.1vw;
                            font-style: italic;
                            font-weight: bold;
                        }
                    }
                    
                    .bar-container{
                    background: $progressbar-bg;
                    position: relative;
                    width: 100%;
                    height: 8px;
                    border-radius: 100px;
    
                        .progressbar{
                            background: black;
                            border-radius: 100px;
                            position:absolute;
                            width:0%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .portfolio-wrapper{
    
            height:100%;
            width:50%;
            float:left;
    
            .development-title{
                font-size: 2em;
                text-align: center;
                color:$title-color;
                letter-spacing: 1px;
            }
            
            .grid-interests{
                display: grid;
                padding:15px 0;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 20px;
            }

    
            .grid-interests > div{
                text-align: center;
                padding: 15px 0;
                font-size: 30px;
    
                .img-interest{
                    display: inline-block;
                    margin: 0 auto;
                    border:2px solid $turquoise; 
                    border-radius: 50%;
                    margin-bottom:25px;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    opacity: 0;
                    margin-top:20px;
                    transition: all 0.3s ease-in-out;
                    transition-property: transform, box-shadow;

                    &:hover{
                        transform: scale(1.2);
                        box-shadow: 0 2px 10px 0px $shadow-color;
                    }
                }
            }

            .grid-portfolio{
                display: grid;
                padding:15px 0;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 20px;
                text-align:center;
                grid-auto-columns: auto;

                .div-portfolio{
                    display:block;
                    height:150%;
                    padding-top:50px;
                    opacity: 0.0;
                    label{
                        font-size:1.2em;
                        font-weight:100;
                        font-style: italic;
                        color:$phone-top;
                    }

                    p{
                        font-size:0.7em;
                        text-align: justify;
                        padding-left: 1.2vw;
                        padding-right:1.2vw;
                    }
                    .img-portfolio{
                        height:6vw;
                        width: 11vw;
                        margin-top:20px;
                        border:1px solid $turquoise;
                        transition: all 0.3s ease-in-out;

                        &:hover{
                            position: relative;
                            height:7vw;
                            width:12vw;
                            box-shadow: 0 4px 12px 0px $shadow-color;
                            border: 2px inset $lightBlue;
                        }
                    }
                    .vertical{
                        height:12vw;
                        width:6vw;
                        border:none;
                    }
                }
            }
    
        }
    }
}

/*##### SECTION EXPERIENCE #####*/

.experience{
    position: relative;
    background: $experience-bg-color;
    padding: 50px 0;
    width: 100%;
    overflow-x: hidden;
    @media screen and (min-width:1950px) {
        padding-top:250px;
    }
    
    .content{
        text-align: center;
        
        h1{
        font-size: 30px;
        color: #fff;
        letter-spacing: 1px;
        }
        
        ul{
        padding: 50px 0;
        list-style-type: none;

        li{
            background: $experience-content-bg-color;
            position: relative;
            margin-left: 20px;
            width: 5px;
            padding-bottom: 40px;

            a{
                text-decoration: none;
            }

            &:last-child{
            padding-bottom: 8px;
            }

            &:before{
            content: '';
            background: $experience-bg-color;
            position: absolute;
            left: 50%;
            top: 0;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 20px;
            height: 20px;
            border: 4px solid $experience-content-bg-color;
            }

            .hidden {
            opacity: 0;
            margin-left: 0;
            transition: border 0.3s ease-in-out;
                &:hover{
                    border: 3px outset red;
                }
            }

            .experience-content{
                background: $experience-content-bg-color; 
                position: relative;
                top: 11px;
                left: 48px;
                width: calc(100vw - 100px);
                padding: 20px;
                -webkit-border-radius: 0 5px 5px;
                -moz-border-radius: 0 5px 5px;
                border-radius: 0 5px 5px;

                h2{
                    text-align: center;
                    font-size: 1.3em;
                    color: $title-color;
                    padding-bottom: 10px;
                }
                p{
                    text-align: justify;
                }

            .experience-time{
                color: #777;
                font-size: 0.8em;
                padding-bottom: 10px;
            }

            p{
                color: #1a1a1a;
                font-size: .95em;
            }

            &:before{
                content: '';
                background: $experience-content-bg-color;
                position: absolute;
                top: 0;
                left: -35px;
                width: 35px;
                height: 5px;
            }
            }
        }
        }
    }
    .link-diplomes{
        color:cyan;
        cursor:pointer;
        text-align: center;
        @media screen and (max-width:812px) {
            font-size: 1.3em;
        }

    }
}

// RESPONSIVE PC ADAPTATION EXPERIENCE-SECTION

@media screen and (min-width: 820px) {
    .experience{
        .content{
            h1{
                font-size:2em;
            }
            ul{
                li{
                    margin: 0 auto;
                    
                    .experience-content{
                        width: 35vw;
                        h2{
                            font-size:1.8em;
                        }
                        p{
                            font-size:1.1em;
                        }
                    }
                    
                    &:nth-child(odd) .experience-content {
                        left: 63px;
                    }
                    &:nth-child(odd) .experience-content:before {
                        left: -50px;
                        width: 50px;
                    }
                    &:nth-child(even) .experience-content {
                        left: calc(-35vw - 59px);
                        -webkit-border-radius: 5px 0px 5px 5px;
                        -moz-border-radius: 5px 0px 5px 5px;
                        border-radius: 5px 0px 5px 5px;
                    }
                    &:nth-child(even) .experience-content:before {
                        left: auto;
                        right: -50px;
                        width: 50px;
                    }
                    &:nth-child(odd) .hidden{
                        margin-left: 10vw;
                    }
                    &:nth-child(even) .hidden{
                        margin-left: -10vw;
                    }
                }
            }
        }
    }
}



/*##### SECTION CONTACT #####*/


// PC Adaptation
.contact {
position: relative;
height: 95%;
width: 100%;
text-align: center;
box-shadow: inset 0px 11px 20px -15px black;
background-color:$experience-content-bg-color;
.content{
    padding-top:5em;
    .contact-title{
        font-size: 2.5em;
        text-align: center;
        color:$title-color;
        letter-spacing: 1px;
        margin-top:100px;
        margin-bottom:100px;
    }
    .socialIcons{
        list-style-type: none;
        display: inline-block;
        position: relative;
        text-align: center;
        width:100%;
        li{
            display: inline-block;
            margin: auto 4vw;
            font-size: 4vw;
            opacity: 0;
            margin-top:-50px;
            
            a{
                text-align:center;
                display: inline-block;
                line-height: 100px;
                color:$lightBlue;
                transition: all 500ms ease;
                transform-origin: left;
                transform: rotateY(-15deg);
                text-shadow:
                5px 0px 1px darken($dark, 5%);
            }
            a.linkedin{
                &:hover{
                    color:$linkedin-top;
                    transform: rotateY(0deg);
                    text-shadow:
                    0px 0px 1px darken($dark, 5%);

                }
            }
            a.github{
                &:hover{
                    color:$github-top;
                    transform: rotateY(0deg);
                    text-shadow:
                    0px 0px 1px darken($dark, 5%);
                }
            }
            a.email{
                &:hover{
                    color: $email-top;
                    transform:rotateY(0deg);
                    text-shadow:
                    0px 0px 1px darken($dark, 5%); 
                }
            }
            a.phone{
                &:hover{
                    color:$phone-top;
                    transform: rotateY(0deg);
                    text-shadow:
                    0px 0px 1px darken($dark, 5%);
                }
            }
        }
    }
}
}

// DIV SIGNATURE 
.signature{
    background-color:$experience-bg-color;
    opacity:0.7;
    position: relative;
    text-align: center;
    p{
        font-style:italic;
        font-weight: bold;
        color:$lightBlue;
        letter-spacing: 2px;
    }
}

// MOBILE RESPONSIVE ADAPTATION : CONTACT
@media screen and (max-width:619px) {
    .contact {
        margin:auto;
        display: block;
        text-align: center;
        .content{
            position: relative;
            padding-top:2em;
            .contact-title{
                font-size: 8vw;
                text-align: center;
                color:$title-color;
                letter-spacing: 1px;
            }
            .socialIcons{
                list-style-type: none;
                display: inline-block;
                position: relative;
                li{
                    display: inline-block;
                    font-size: 8vw;
                    a{
                        display: inline-block;
                        transition: all 500ms ease;
                        transform: rotateY(0);
                        text-shadow:none;
                    }
                    a.linkedin{
                        color:$linkedin-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.github{
                        color:$github-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.email{
                        color: $email-top;
                        &:hover{
                            transform:rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.phone{
                        color:$phone-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                }
            }
        }
    }       
}

// DIV SIGNATURE RESPONSIVE DESIGN
@media screen and (max-width:820px) {
    .signature{
        position: relative;
        text-align: center;
        p{
            font-style:italic;
            font-weight: bold;
            font-size:3vw;
            letter-spacing: 2px;
        }
    }
}

// RESPONSIVE HORIZONTALE ADAPTATION : CONTACT
@media screen and (min-width:620px) and (max-width:812px){
    .contact {
        margin:auto;
        display: block;
        text-align: center;
        .content{
            position: relative;
            padding-top:2em;
            .contact-title{
                font-size: 6vw;
                text-align: center;
                color:$title-color;
                letter-spacing: 1px;
                margin-top:50px;
                margin-bottom:20px;
            }
            .socialIcons{
                list-style-type: none;
                display: inline-block;
                position: relative;
                li{
                    display: inline-block;
                    font-size: 8vw;
                    a{
                        display: inline-block;
                        transition: all 500ms ease;
                        transform: rotateY(0);
                        text-shadow:none;
                    }
                    a.linkedin{
                        color:$linkedin-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.googlePlus{
                        color:$github-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.email{
                        color: $email-top;
                        &:hover{
                            transform:rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                    a.phone{
                        color:$phone-top;
                        &:hover{
                            transform: rotateY(0deg);
                            text-shadow:0;
                        }
                    }
                }
            }
        }
    }       
}